
{% extends 'base.html.twig' %}

{% block title %} Welcome to Logging in with 2FA!  {% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="jumbotron text-center">

            <h2> Welcome to Logging in with TFA!</h2>
            <div class="pic1">
            <img src="https://er.educause.edu/-/media/images/blogs/2019/3/er19_1113_706x394_blog.jpg?la=en&hash=193D88DC537664EA049C26F4CE4496FBBCECE162" class="pic" alt="" >
            </div>
            <div>
                
                
            </div>
        </div>
    </div>
    

{% endblock %}
